<% include ../partials/_header%>
  <body>
    <h2>LIST OF LISTS</h2>
    <div class="jumbotron">
      <ul class="list-group">
        <% lists.forEach(function(list){ %>
          <li class="list-group-item"><a href="/lists/<%=list.id%>"><%= list.name %></a></li>
        <% }) %>
      </ul>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block"><a href="/lists/new"><p id="p">CREATE A NEW LIST</p></a></button>

  </body>
</html>
