<% include ../partials/_header %>

  <body>
    <form method="post" action="/lists">
      CREATE A LIST:<br>
      <input type="text" name="name"><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
