<% include ../partials/_header %>

  <body>
    <div class="form-group">
      <form method="post" action="/lists">
        <label for="exampleInputEmail1"><h2>Enter-List</h2></label>
        <input type="text" name="name" class="form-control"><br>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
