<% include ./partials/_header%>

<body style="background-color: #18d1ef">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/lists">LISTS</a>
    <a class="navbar-brand" href="/lists/new">CREATE A LIST</a>
  </nav>
</body>
</head>
