<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>THESE ARE THE TASKS</h1>
    <% result.forEach(function(res){ %>
      <h2><%= res.name %></h2>
    <% }) %>

  </body>
</html>
