<% include ../partials/_header %>

  <body>
    <h1>THESE ARE THE TASKS</h1>
    <table style="width:100%">
      <tr>
        <th>TASK-NAME</th>
        <th>COMPLETED</th>
      </tr>
    <% result.forEach(function(res){ %>
      <tr>
        <th><h2><%= res.name %></h2></th>
        <th><h2 id="task"><%= res.completed %></h2></th>
      </tr>
    <% }) %>
  </table>


  </body>
</html>
