<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/lists/<%=id %>/tasks">
      CREATE TASK:<br>
      <input type="text" name="task"><br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
